
<div class="main container-fluid">

    <section class="hero row">
        <div class="hero-content col-12 col-md-6 d-flex align-items-center justify-content-center flex-column">
        <h1 style="font-size: 44px;">Toda aula pode ser diferente!</h1>
          <p class="text-center">Seu app para gamificar o Google Classroom!</p>
          <div class="buttons d-flex align-items-start justify-content-center" style="margin-bottom: 5rem; width: 80%;">
            <button mat-raised-button (click)="signInWithGoogle()" style="text-wrap: nowrap;">
              <img style="width:1.5rem; margin-right: 0.5rem;" alt="logo-google" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=">
              Continue com o Google
            </button>        
          </div>
        </div>
        <div class="hero-image col-12 col-md-6">
          <img src="https://assets.swappie.com/cdn-cgi/image/width=600,height=600,fit=contain,format=auto/swappie-iphone-16-pro-max-white-titanium-front.png?v=63198538" alt="Mockup do aplicativo"> 
        </div> <!-- Substitua pelo seu mockup -->
    </section>
      
      <section class="features">
          <h2>Recursos Principais</h2>
          <div class="feature-grid">
            <div class="feature">
              <img src="https://cdn0.iconfinder.com/data/icons/gamification-flat-awards-and-badges/500/shield1-512.png" alt="Badge"> <!-- Substitua por sua imagem -->
              <h3>Conquista de Insigneas</h3>
              <p>Ganhe badges por concluir atividades e desafios.</p>
            </div>
            <div class="feature">
              <img src="https://cdn-icons-png.flaticon.com/512/1603/1603847.png" alt="Ranking"> <!-- Substitua por sua imagem -->
              <h3>Ranking e Competição</h3>
              <p>Veja sua posição no ranking e compita com seus colegas.</p>
            </div>
            <div class="feature">
              <img src="https://cdn.worldvectorlogo.com/logos/google-classroom.svg" alt="Google Classroom"> <!-- Substitua por sua imagem -->
              <h3>Integração com o Google Classroom</h3>
              <p>Integração perfeita com a sua sala de aula do Google Classroom.</p>
            </div>
            <!-- Adicione mais features aqui seguindo o mesmo formato -->
          </div>
        </section>
            
      <!-- <footer>
        <p>© 2023 Gamificação Classroom</p>
      </footer>
   -->
  </div>

  