
@if (activeButton !== 'login') {
  <div class="header d-flex justify-content-center" >
    <div style="color: var(--primary-color-darker);">
      <h1>Olá, {{profile() ? profile().name : ''}}</h1>
      <p>Comece a explorar os seus mundos!</p>
    </div>
    <button class="btn" (click)="goToPerfil()">

        <mat-icon class="material-icons-outlined">person</mat-icon>
    </button>
  </div>
}


<div>
    <router-outlet></router-outlet>
</div>

@if (activeButton !== 'login') {
  <nav class="navbar fixed-bottom bg-light px-2 d-flex flex-row" aria-label="bottom">
      <button class="btn btn d-flex flex-column justify-content-center align-items-center" (click)="goToCursos()" style="width: 33%;">
        <mat-icon>
          home
        </mat-icon>
        <span style="font-size: smaller;"><strong>Início</strong></span>
      </button>
    
      <button class="btn btn d-flex flex-column justify-content-center align-items-center" style="width: 33%;"  (click)="goToCursos()">
        <mat-icon>
          article
        </mat-icon>
        <span style="font-size: smaller;"><strong>Mundos</strong></span>
      </button>

      <button class="btn btn d-flex flex-column justify-content-center align-items-center" style="width: 33%;"  (click)="goToPerfil()">
        <mat-icon>
          person
        </mat-icon>
        <span style="font-size: smaller;"><strong>Perfil</strong></span>
      </button>
    </nav>
}