@if (activeButton !== 'login') {
  <nav class="navbar navbar-light fixed-top bg-light px-2 d-flex justify-content-center" style="background:linear-gradient(to right, #6a1b9a, #8e44ad) !important;  margin-bottom: 4rem !important;" aria-label="top">
    <a class="navbar-brand d-flex align-items-center justify-content-center" style="color: white;">
      <h1>ClassUp</h1>
      <!-- <img src="assets/logo.png" height="40" class="d-inline-block align-top" alt=""> -->
    </a>
  </nav>
}

<div class="">
    <router-outlet></router-outlet>
</div>

@if (activeButton !== 'login') {
  <nav class="navbar fixed-bottom bg-light px-2 d-flex flex-row" aria-label="bottom">
      <button class="btn btn d-flex flex-column justify-content-center align-items-center" (click)="goToCursos()" style="width: 33%;">
        <mat-icon>
          home
        </mat-icon>
        <span style="font-size: smaller;"><strong>Início</strong></span>
      </button>
    
      <button class="btn btn d-flex flex-column justify-content-center align-items-center" style="width: 33%;"  (click)="goToCursos()">
        <mat-icon>
          article
        </mat-icon>
        <span style="font-size: smaller;"><strong>Mundos</strong></span>
      </button>

      <button class="btn btn d-flex flex-column justify-content-center align-items-center" style="width: 33%;"  (click)="goToPerfil()">
        <mat-icon>
          person
        </mat-icon>
        <span style="font-size: smaller;"><strong>Perfil</strong></span>
      </button>
    </nav>
}